<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa fa-bars"></i> Dashboard</h3>
	</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">Message</div>
	        <div class="widget-icons pull-right">
	            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
	            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
	        </div>  
        <div class="clearfix"></div>
    </div>
                                                
    <div class="panel-body">
      <!-- Widget content -->
      <div class="padd sscroll">
        
        <ul class="chats">

          <!-- Chat by us. Use the class "by-me". -->
          <li class="by-me">
            <!-- Use the class "pull-left" in avatar -->
            <div class="avatar pull-left">
              <img src="images/user.jpg" alt=""/>
            </div>

            <div class="chat-content">
              <!-- In meta area, first include "name" and then "time" -->
              <div class="chat-meta">Tom Smith <span class="pull-right">30 minutes ago</span></div>
                Requested assistance at <a href="#" onclick="window.open('https://www.google.com/maps?q=33.654184,-117.81023', '', 'width=600, height=600')">location</a>
                <button type="submit" class="btn btn-info">Message</button>
              <div class="clearfix"></div>
            </div>
          </li> 

          <!-- Chat by other. Use the class "by-other". -->
          <li class="by-me">
            <!-- Use the class "pull-right" in avatar -->
            <div class="avatar pull-left">
              <img src="images/user22.png" alt=""/>
            </div>

            <div class="chat-content">
              <!-- In the chat meta, first include "time" then "name" -->
              <div class="chat-meta">Jennifer Smith <span class="pull-right">2 hours ago</span></div>
                Checked in at <a href="#" onclick="window.open('https://www.google.com/maps?q=33.654184,-117.81023', '', 'width=600, height=600')">location</a>
                <button type="submit" class="btn btn-info">Message</button>
              <div class="clearfix"></div>
            </div>
          </li>   

        </ul>

      </div>

    </div>
	 </div>