<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><i class="icon_piechart"></i> Reporting</h3>
		</div>
</div>

<div class="row">
  <!-- chart morris start -->
  <div class="col-lg-12">
      <section class="panel">
          <header class="panel-heading">
              <h3>General Chart</Char>
          </header>
          <div class="panel-body">
            <div class="tab-pane" id="chartjs">
          <div class="row">
              <!-- Line -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Line
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="line" height="300" width="450"></canvas>
                      </div>
                  </section>
              </div>                      
              <!-- Bar -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Bar
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="bar" height="300" width="500"></canvas>
                      </div>
                  </section>
              </div>
          </div>
          <div class="row">
              <!-- Radar -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Radar
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="radar" height="300" width="400"></canvas>
                      </div>
                  </section>
              </div>
              <!-- Polar Area -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Polar Area
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="polarArea" height="300" width="400"></canvas>
                      </div>
                  </section>
              </div>
          </div>
          <div class="row">
              
              <!-- Pie -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Pie
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="pie" height="300" width="400"></canvas>
                      </div>
                  </section>
              </div>
              <!-- Doughnut -->
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading">
                          Doughnut
                      </header>
                      <div class="panel-body text-center">
                          <canvas id="doughnut" height="300" width="400"></canvas>
                      </div>
                  </section>
              </div>
          </div>
      </div>
          </div>
          </div>
        </section>
  </div>
  <!-- chartjs -->
  <script src="scripts/Chart.js"></script>
  <!-- custom chart script for this page only-->
  <script src="scripts/chartjs-custom.js"></script>
</div>

  


